<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Data Science & Data Analytics Project">
  <title>Final Project</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- Custom styles -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/custom.css')}}" />
</head>

<!-- Jinja2 stuff related to generating nav and setting active state. Add more pages here! -->
<!-- {% set navigation_bar = [('/', 'Home'), ('/background', 'Background'), ('/dashboard', 'Dashboard'), ('/application', 'Application'), ('/datacleaning', 'Data Cleaning')] -%}
{% set active_page = active_page|default('home') -%} -->


  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <!-- Navbar branding. -->
    <a class="navbar-brand" href="#">Final Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <!-- {% for href, title in navigation_bar %}
        {% if title == active_page %} -->
        <li class="nav-item active">
          <a class="nav-link" href="home2.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="background.html">Background<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="dashboard.html">Dashboard <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="application.html">Application <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="data.html">Data Cleaning<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>

<div style='margin-top: 100px; text-align: center;'>
  <h1>Application</h1>
  <div id='text-input-div'>
  </div>
 </div>
 <body>


  <p>Model</p>
  <iframe src="static/images/Loan Eligibility_Acc vs Rec_Model_test.pdf" width="1000px" height="1000px">
  </iframe>
  <br>
  <br>
  <p>Decision Tree Model</p>
  <iframe src="static/images/model_decisiontree-2.pdf" width="1000px" height="1000px">
  </iframe>
<br>
 </body>

 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
 integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
 crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
 integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
 crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
 integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
 crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='js/base.js')}}"></script>
</body>

</html>
